<iframe 
    src="{{ .Get "src" }}"
    width="{{ .Get "width" | default "100%" }}"
    height="{{ .Get "height" | default "600" }}"
    frameborder="0"
    allowtransparency="true"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy"
    title="Lichess {{ if eq (.Get "src") "https://lichess.org/tv/frame?theme=blue3&bg=dark" }}Live Games{{ else }}Daily Puzzle{{ end }}"
    style="border: none; max-width: 100%; margin: 0 auto;"
    sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
</iframe>
