name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
    paths-ignore:
      - "images/**"
      - "LICENSE"
      - "README.md"
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0
          
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v4
        with:
          hugo-version: '0.147.8'
          extended: true
          
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v6
        
      - name: Update theme to Latest commit
        run: git submodule update --remote --merge
        
      - name: Build
        run: |
          hugo \
            --minify \
            --destination public \
            --baseURL ${{ steps.pages.outputs.base_url }}
          touch public/.nojekyll
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
